

.greet{
    background-color: rgb(163, 199, 167);
}

.greetings{
    background-color: rgb(163, 199, 167);
    color: pink;
}

.content{
    background-color: pink;
    color: rgb(0, 26, 255);
    font-style: italic;
    
}

.contents{
    background-color: rgb(128, 255, 0);
    border: 2px solid rgb(225, 6, 6);
    padding:10px;
    text-align: center;
    
   
}